#ifeq($($svc),)
#cgerror service name is not set, to generate interface please use: staff_codegen -tinterfacegen -dsvc=<[svc.namespace.]ServiceName>
#ifeqend
#var sServiceName $($svc.!lasttoken/./)
#var sNamespace $($svc.!cutlast/./)
#ifeq($($sServiceName),)
#var sServiceName $($svc)
#ifeqend
#fileopen $($sServiceName).h
#cginclude "Interface.h"
#fileclose

