
.WidgetFrame
{
  overflow: hidden;
}

.WidgetFrameHeader
{
  background: #5374aa;
  border: 1px solid buttonshadow;
}

.WidgetFrameBody
{
  width: 100%;
  border: 1px solid buttonshadow;
}

.WidgetFrameHeaderNoBorder
{
  background: #5374aa;
  border-bottom: 1px solid buttonshadow;
}

.WidgetFrameBodyNoBorder
{
  width: 100%;
  border-top: 1px solid buttonshadow;
}

.WidgetFrameHeaderTable
{
  height: 22px;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

.WidgetFrameHeaderLabel
{
  color: white;
  font-family: Arial;
  font-weight: bold;
}

.WidgetFrameCellHeaderButton
{
  height: 16px;
  width: 16px;
  margin-right: 3px;
}
