// do not generate implementation for types-only headers
#foreach $(Project.Interfaces)
#ifneq($(Interface.Classes.$Count),0)
#fileopen $(Interface.FilePath)$(Interface.Name)Impl.h
#cginclude "ServiceImpl.h"
#fileclose
#fileopen $(Interface.FilePath)$(Interface.Name)Impl.cpp
#cginclude "ServiceImpl.cpp"
#fileclose
#ifeqend
#end

