// do not generate implementation for types-only headers
#foreach $(Project.Interfaces)
#ifneq($(Interface.Classes.$Count),0)
#fileopen $(Interface.Name)Impl.h
#cginclude <serviceimpl/ServiceImpl.h>
#fileclose
#fileopen $(Interface.Name)Impl.cpp
#cginclude <serviceimpl/ServiceImpl.cpp>
#fileclose
#ifeqend
#end

