#ifeq($($SRCDIR),)
#var SRCDIR src/
#ifeqend

#ifneq($(Project.Interfaces.Interface.FileName.!depostfix/.h/.!depostfix/.H/),$(Project.Interfaces.Interface.FileName))
#var bFromInterface 1
#ifeqend

#mkdir $($SRCDIR)

// generate Makefile
#fileopen Makefile
#cginclude "Makefile"
#fileclose

#ifneq($(Project.Name),Project1)
#var sProjectName $(Project.Name)
#else
#var sProjectName $(Project.Interfaces.Interface.NsName.!mangle)_client
#ifeqend

// generate qmake project
#fileopen $($sProjectName).pro
#cginclude "qmake.pro"
#fileclose


// generate vcproject and cmd scripts
#fileopen $($sProjectName).vcproj
#cginclude "client.vcproj"
#fileclose
#fileopen codegen.cmd
#cginclude "codegen.cmd"
#fileclose


// generate interface
#ifeq($($bFromInterface),)
#foreach $(Project.Interfaces)
#fileopen $($SRCDIR)$(Interface.Name).h
#cginclude <interface/Interface.h>
#fileclose
#end
#ifeqend


// generate client stub
#fileopen $($SRCDIR)main.cpp
#cginclude <clientimpl/main.cpp>
#fileclose
