#foreach $(Project.Interfaces)

#mkdir $(Interface.FilePath)
#fileopen $(Interface.FilePath)$(Interface.Name)Wrapper.h
#cginclude "Wrapper.h"
#fileclose
#fileopen $(Interface.FilePath)$(Interface.Name)Wrapper.cpp
#cginclude "Wrapper.cpp"
#fileclose

#end

#fileopen ComponentImpl.h
#cginclude "ComponentImpl.h"
#fileclose
#fileopen ComponentImpl.cpp
#cginclude "ComponentImpl.cpp"
#fileclose

