// generate wsdl for services and xsd types-only headers
#foreach $(Project.Interfaces)
#ifneq($(Interface.Classes.$Count),0)
#fileopen $(Interface.NsName.!dot).wsdl
#cginclude <wsdl/Service.wsdl>
#fileclose
#else
#fileopen $(Interface.NsName.!dot).xsd
#cginclude <wsdl/Types.xsd>
#fileclose
#ifeqend
#end

