#ifneq($($usedns),)
#var rootns $($usedns)
#ifeqend

#ifeq($($rootns),)
#cgwarning rootns variable is not set, this can cause namespace intersection between staff and protobuf services.
#cgwarning To fix this, please regenerate with: staff_codegen -drootns=<some_namespace_prefix> ...
#ifeqend

#ifneq($($rootns),)
#var rootns ::$($rootns.!replace/./::/.!trim/:/)
#ifeqend

#foreach $(Project.Interfaces)
#fileopen $(Interface.Name)Impl.h
#cginclude <protobufserviceimpl/ServiceImpl.h>
#fileclose
#fileopen $(Interface.Name)Impl.cpp
#cginclude <protobufserviceimpl/ServiceImpl.cpp>
#fileclose
#end

