#foreach $(Project.Interfaces)

#mkdir $(Interface.FilePath)
#fileopen $(Interface.FilePath)$(Interface.Name)Proxy.h
#cginclude "Proxy.h"
#fileclose
#fileopen $(Interface.FilePath)$(Interface.Name)Proxy.cpp
#cginclude "Proxy.cpp"
#fileclose

#end

#fileopen ServiceFactory.h
#cginclude "ServiceFactory.h"
#fileclose
#fileopen ServiceFactory.cpp
#cginclude "ServiceFactory.cpp"
#fileclose
