#foreach $(Project.Interfaces)

#var imports

#foreach $(Interface.Structs)
#ifeq($(Struct.Extern),0)
#var dir $(Struct.Namespace.!trim/:/.!replace/::/\//)
#ifneq($($dir),)
#mkdir $($dir)
#else
#var dir .
#ifeqend
#fileopen $($dir)/$(Struct.Name).java
#cginclude "Struct.java"
#fileclose
#var imports $($imports)|import $(Struct.NsName.!dot);
#ifeqend // struct.extern
#end // foreach Interface.Structs

#foreach $(Interface.Typedefs)
#ifeq($(Typedef.Extern),0)
#var dir $(Typedef.Namespace.!trim/:/.!replace/::/\//)
#ifneq($($dir),)
#mkdir $($dir)
#else
#var dir .
#ifeqend
#fileopen $($dir)/$(Typedef.Name).java
#cginclude "Typedef.java"
#fileclose
#var imports $($imports)|import $(Typedef.NsName.!dot);
#ifeqend // typedef.extern
#end // foreach Interface.Typedefs

#foreach $(Interface.Classes)
#var dir $(Class.Namespace.!trim/:/.!replace/::/\//)
#ifneq($($dir),)
#mkdir $($dir)
#else
#var dir .
#ifeqend
#fileopen $($dir)/$(Class.ServiceName).java
#cginclude "Service.java"
#fileclose
#end // foreach Interface.Classes

#end

